<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/base.css" />
  <script src="js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
  <title>Tu GuitarTabs</title>
</head>

<body>
  <%- include('partials/header')%>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
          <div class="home">
            <p class="letterHeader">Bienvenido a Tu GuitarTabs</p>
            <p>
              Eres guitarrista? Quieres empezar a tocar? Bienvenido! estas en la
              pagina adecuada para lograrlo!
              <br>
              Aqui encontraras las tablaturas de tus canciones favoritas y podras
              compartir con nosotros tus tablaturas para asi apoyarnos uno al otro.
            </p>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">

          <div class="me">
            <img class="perfil" src="img/perfil.jpg" alt="Mi foto de perfil" />
            <p class="letterHeader">AleXRD</p>
            <p>
              Soy Alejandro Sánchez González estudiante de ingieneria informatica de 1er año,
              recien estoy iniciando como desarrollador de paginas web,
              si estas dispuesto a darme apoyo estare muy agradecido.
            </p>
            <div class="list">
              <a href="https://github.com/AleSGXRD">
                <img class="photoSite" src="img/github.svg" alt="Icono de github" />
              </a>
              <a href="https://www.facebook.com/profile.php?id=100023449895483">
                <img class="photoSite" src="img/facebook.svg" alt="Icono de facebook" />
              </a>
              <a href="https://twitter.com/ale_xrd">
                <img class="photoSite" src="img/twitter.svg" alt="Icono de twitter" />
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>