<div class="filter-buttons">
    <button id="btn-0" class="" onclick="activeGender(0)"><img src="../img/icons/AnimeLogo.png"
            alt="Foto de anime"></button>
    <button id="btn-1" class="" onclick="activeGender(1)"><img src="../img/icons/GameLogo.png"
            alt="Foto de juegos"></button>
    <button id="btn-2" class="" onclick="activeGender(2)"><img src="../img/icons/POPLogo.png"
            alt="Foto de pop"></button>
</div>